@model Ingredient
@{
    ViewBag.Titel = $"Delete {Model.Name} Ingredient";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IngredientId" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </form>
</div>